---
import BaseHead from "../components/BaseHead.astro";
import LangSwitch from "../components/LangSwitch.astro";
import { useTranslations, type UiType } from "../i18n/utils";

const { title, lang, description } = Astro.props;
const t = useTranslations(lang as UiType);

const today = new Date();
---

<!doctype html>
<html lang={lang} class="bg-white">
	<head>
		<BaseHead lang={lang} title={title} description={description} />
	</head>
	<header class="flex">
		<nav class="flex">
			<ul>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</nav>
	</header>
	<body>
		<slot />
	</body>
	<footer class="bg-gray">
		<LangSwitch language={lang} />
		<span class="text-white">&copy; {today.getFullYear()} Ruben Winant. All rights reserved.</span>
	</footer>
</html>